.p_body {
    border: 2px solid;
    border-bottom: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 5px;
    background-color: white;
}

.p_description {
    margin: 1%;
    padding: 0.2%;
    border: double 2px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.icon i {
    margin: 2px;
    margin-left: 4px;
    padding: 1px;
    padding-left: 1px;
    font-size: large;
    cursor: pointer;
    color: black;
}

.p_name {
    display: flex;            /* makes image + text in one row */
    align-items: center;      /* centers text vertically */
    gap: 15px;                /* space between image & text */
    margin: 0;
}

.p_description p {
    display: inline;
    margin-left: 1%;

}

.p_description img {
    border-radius: 50%;
    border: solid #f84d4d;
    width: 100px;
    margin: 5px;
}

.p_feedbody {
    border: 2px solid;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 5px;
    background-color: white;

}

.p_feed {
    margin: 1%;
    padding: 0.5%;
    border: double 2px;
    border-radius: 10px;
    background-color: #f5f5f5;
}