

.stories{
    text-align: center;
    margin-bottom:0;
    margin-top: auto;
}

.story-container{
    display: flex;
    gap: 15px;
    padding: 0%;
    justify-content: flex-start;
    margin: 0%;
    list-style-type: none;
    overflow-x: auto;
}

.story{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.story img{
    width: 60px;
    height: 60px;
    border: 2px solid #ff6347;
    border-radius: 50%;
}

.story p{
    margin-top: 5px;
    font-size: 12px;
    color: #333;
}

.feed{
    max-width: 400px;
    max-height: auto;
    margin: 20px auto;
    padding: 10px;
    border-top: 2px solid #ff6347;
}

.img{
    background-color: #f9f9f9;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 1%;
}

.Post-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-icon {
    display: flex;
    gap: 10px;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 1px;
    color: grey;
    border-top: solid black;
}

.description{
    padding: 2px 0;
}

.description h3{
    padding-left: 5px;
    margin: 0;
    color: rgb(239, 139, 9);
    font-size: 1.2em;
}

.description p{
    padding-left: 10px;
    padding-bottom: 5px;
    color: #960404;
    margin: 5px 0 0;
}