{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/uploads.css" %}"
{% endblock %}
{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="image">Upload image</label>
            <input type="file" id="image" name="image" class="form-control">
            <label for="description">Caption</label>
            <textarea id="description" name="description" class="form-control" rows="4"></textarea>
            <div class="button-container">
                <button type="submit" class="bt" name="upload"> Upload </button>
                <button type="submit" class="bte" name="discard"> Discard </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
